@import "reset";
@import "mixin";


body {
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	background-color: #eee;
}

a {
	color: white;
	text-decoration: none;

	@include transition(all, 0.2s, ease-in-out);

	&:hover {
		text-decoration: none;
		margin-right: 10px;
	}
}

article#home {
	position: relative;

	width: 100%;
	background-color: #777;
	min-height: 600px;

	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../img/cover-blur.jpg") no-repeat center center;
	background-size: cover; 

	@include box-shadow();

	header {
		font-family: sans-serif;

		height: 100%;
		padding: 0 50px;
		text-align: right;

		h1 {
			font-family: Arial, Helvetica;
			width: 100%;
			font-weight: bold;
			font-size: 8em;
			display: inline-block;
			margin-top: 200px;  

			@include text-shadow(0.7);
		}

		p {
			font-size: 1.5em;

			@include text-shadow(0.5);
		}
	}


	nav {
		height: 50px;
		font-size: 1em;
		width: 100%;
		text-align: right;
		position: absolute;
		bottom: 50px;
		right: 50px;

		ul li {
			margin: 10px 0;
		}
	}
}

#wrapper {
	padding-top: 30px;
	margin-bottom: 30px;
	color: #443642;
}

#fruit-basket {

	margin: 0 auto;
	min-height: 500px;
	width: 90%;

	.fruit {
		position: relative;

		background-color: white;
		width: 30%;
		float: left;
		text-align: center;
		margin-bottom: 40px;

		@include border-radius(5px);
		@include transition(all, 0.4s, ease-in-out);

		&:hover {
			@include box-shadow();

			.fruit-mods {
				visibility: visible;
			}
		}

		&:nth-child(3n+2) {
			margin-right: 5%;
			margin-left: 5%;
		}

		.fruit-name {
			font-size: 2em;
			margin: 12px 0;
		}

		.fruit-details {

			div {
				margin:	5px 0;
			}

			.fruit-quantity {
				&:before {
					content: "Quantity: "
				}
			}

			.fruit-distributor {
				&:before {
					content: "Distributor: "
				}
			}
		}

		.fruit-mods {
			width: 100%;
			margin-top: 10px;
			font-weight: bold;
			visibility: hidden;

			@include border-radius(5px);

			div {
				display: inline-block;
				margin: 0 10px;
				line-height: normal;

				&:hover {
					cursor: pointer;
				}

				&.btn-edit:hover {
					color: #0588BC;
				}

				&.btn-delete:hover {
					color: #FF3030;
				}
			}
		}
	}

}










